@import "./variables";
@import "./mixins";
body {
    background: $zip-code-color-1 !important;
    margin-top: 20px;
    color: #34495e !important;
}

.bg {
    &--purple {
        background-color: $zip-code-color-3 !important;
    }
    &--orange {
        background-color: $zip-code-color-orange-1 !important;
    }
}

.text {
    &__color {
        &--white {
            color: $zip-code-color-gray-1 !important;
        }
        &--green {
            color: $zip-code-color-green-1 !important;
        }
    }
}